
@{
    ViewData["Title"] = "ActivityLog";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>Activity Log</h1>
<br />
<div class="container mt-2">
    <div class="col-md-5 pt-1" id="yui_3_17_2_1_1666366546526_633">

        <div class="progress bg-white border">
            <div class="progress-bar bar" role="progressbar" aria-valuenow="94" style="width: 94%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="small" id="yui_3_17_2_1_1666366546526_632">
            <span class="sr-only">Course progress:</span>
            <strong>94</strong>% complete
        </div>
    </div>
    <div class="row col-12">
        <table class="table mt-2 table-borderless">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>

                    <th>
                        Last Name
                    </th>
                     <th>
                         Department
                     </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (HODactivityLog my in ViewBag.HAttendance)
                {
                <tr class="table-borderless">
                    <td>
                        @my.ApplicationUser.firstName
                    </td>
                    <td>
                        @my.ApplicationUser.lastName
                    </td>
                    <td>
                        @my.Department.DepDesc
                    </td>
                    <td>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <button id="btnSave" onclick="window.print()">Print this page</button>
</div>
@section scripts{

    <script>
        $("printPDF").click(function () {
            var element = document.getElementById('parentdiv');
            html2pdf().from(element).set({
                margin: [30, 10, 5, 10],
                pagebreak: { avoid: 'tr' },
                jsPDF: { orientation: 'landscape', unit: 'pt', format: 'letter', compressPDF: true }
            }).save()
        })
    </script>
}
