@model tobedeleted.Models.HOD
@using tobedeleted.Models
@{
    ViewData["Title"] = "AddHODToSpecificDep";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>Add HOD To Specific Department</h1>
<br/>
<hr />
<div class="row">
    <div class="col-4">
        <form asp-action="AddHODToSpecificDep">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Select Username</label>
                <select id="txtUserId" asp-for="userHoDId" class="form-control">
                    <option selected disabled>--select user--</option>
                    @foreach (ApplicationUser U in ViewBag.Users)
                    {
                        <option value="@U.Id">@U.firstName @U.lastName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Select Department Name</label>
                <select id="txtDep" asp-for="DepID" asp-items="@ViewBag.Departments" class="form-control">
                    <option selected disabled>--select Department--</option>
                </select>
            </div>
           
            <div>
                <input id="btnSave" type="submit" class="btn btn-outline-primary btn-block" value="Assign" />
                @*<button id="btnRead" class="btn btn-primary" style="width:100%;margin-top:100%;"> Read</button>*@
            </div>
        </form>
    </div>
 
</div>

<div>
    <a asp-action="Dashboad">Back </a>
</div>


<script type="text/javascript">
    $(document).ready(function () { });
    
    $("#btnSave").click(function () {
        
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oHOD = {
            UserId: $("#txtUserId").val(),
            
            DepID: $("#txtDep").val()

        };
        formData.append("HOD", JSON.stringify(oHOD));
        $.ajax({
            type: "POST",
            url: "/HOD/AddHODToSpecificDep",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                ResetFields();
                alert(data);
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnRead").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oHOD = {
            UserId: $("#txtUserId").val(),
            
            DepID: $("#txtDep").val()

        };
        formData.append("HOD", JSON.stringify(oHOD));
        $.ajax({
            type: "GET",
            url: "/HOD/AddHODToSpecificDep",
            success: function (data) {
                $("#txtUserId").val(data.UserId);
               
                $("txtDep").val(data.DepID)
                
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    function ResetFields() {
        $("#txtName").val("");
        $("txtDep").val("");
        
    }
</script>