
@{
    ViewData["Title"] = "CareerStream";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header>
        <h1> Depatermental Subjects </h1>
    </header>

        <div id="accordion">

            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                        Topic 1
                    </a>
                </div>
                <div id="collapseOne" class="collapse " data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        Topic 2
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                        Topic 3
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                        Topic 4
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                        Topic 5
                    </a>
                </div>
                <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsesix">
                        Topic 6
                    </a>
                </div>
                <div id="collapsesix" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseseven">
                        Topic 7
                    </a>
                </div>
                <div id="collapseseven" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse8">
                        Topic 8
                    </a>
                </div>
                <div id="collapse8" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse9">
                        Topic 9
                    </a>
                </div>
                <div id="collapse9" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse10">
                        Topic 10
                    </a>
                </div>
                <div id="collapse10" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <a>TM1:  </a>
                        <a>TM2:  </a>
                        <a>TM3:  </a>
                        <a>TM4:  </a>
                    </div>
                </div>
            </div>
        </div>

    <style type="text/css">


        .card {
            align-items: center;
            border: 5px unset #000000;
            float: left;
            box-shadow: 0 0 15px #808080;
            flex-direction: row;
            /* padding: 10px 20px;*/
            flex-flow: wrap;
            align-self: normal;
            display: flex;
            height: 250px;
            width: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
        }

        .card-img-top {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
    <div class="container my-4">

        <div class="col-md-6 mb-4">


            @*Section: Live preview*@
            <section class="container">

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>

            </section>
            <!--Section: Live preview-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <!--<div class="col-md-6 mb-md-0 mb-4">

                <p>
                    The file input is the most gnarly of the bunch and requires additional JavaScript if you’d like to hook them up
                    with functional Choose file… and selected file name text.
                </p>
                <section class="section-preview">

                    <div class="input-group my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>

                </section>

            </div>


        </div>-->

    </div>
</body>
</html>

