

@{
    ViewData["Title"] = "Commerce";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header>
        <h1>Commerce</h1>
    </header>
    <h2>Welcome To The Commerce Department</h2>
    <br />
    <hr />
    <div class="card" style="width:300px">

        <h4 class="card-title">Mathematics</h4>
        <p class="card-text">learn more</p>
        <a asp-area="" asp-controller="HOD" asp-action="Maths" class="btn btn-primary">View Maths</a>

        
    </div>

    <div class="card" style="width:300px">

        <h4 class="card-title">Accounting</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/Accounting.jpg" alt="Card image">
    </div>

    <div class="card" style="width:300px">

        <h4 class="card-title">Business Studies</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/Business Studies.jpg" alt="Card image">
    </div>

    @*<div class="card" style="width:300px">

            <h4 class="card-title">Sciences Department</h4>
            <p class="card-text">learn more</p>
            <a href="#" class="btn btn-primary">View Subjects</a>

            <img class="card-img-top" src="~/css/Images/Life-Science.jpg" alt="Card image">
        </div>*@

    <div class="card" style="width:300px">

        <h4 class="card-title">Economics</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/Economics.jpg" alt="Card image">
    </div>

    <style type="text/css">


        .card {
            align-items: center;
            border: 5px unset #000000;
            float: left;
            box-shadow: 0 0 15px #808080;
            flex-direction: row;
            /* padding: 10px 20px;*/
            flex-flow: wrap;
            align-self: normal;
            display: flex;
            height: 250px;
            width: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
        }

        .card-img-top {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</body>
</html>




