@model tobedeleted.Models.Department

@{
    ViewData["Title"] = "Department";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>EnrolDepartment</h1>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <label>Department Name: </label>
                </div>
                <div class="col-6">
                    <input id="txtName" type="text" placeholder="Department Name" style="width:100%;" />
                </div>
            </div>
            @*<div class="dropdown">
                    <select asp-for="DepID" class="form-control">

                        @foreach (Department D in ViewBag.Department)
                        {
                            <option value="@D.DepID">@D.DepDesc</option>
                        }
                    </select>
                </div>*@
            <div class="row">
                <div class="col-10">
                    <label>Photo :</label>
                </div>
                <div class="col-md-10">
                    <input id="txtFile" type="file" value="Upload File" style="width: 100%;" />
                </div>
            </div>
            <div class="row col-12">
                <div class="col-6">
                    <img id="imgViewer" width="200" height="200" style="border: 1px solid #ffffff" />
                </div>
                <div class="form-group col-6">
                    <button id="btnSave" class="btn btn-primary" style="width:100%;margin-top:100%;"> Save Department</button>
                    <button id="btnRead" class="btn btn-primary" style="width:100%;margin-top:100%;"> Read Department</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { });
    $("#txtFile").change(function (event) {
        var files = event.target.files;
        $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
    });
    $("#btnSave").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oDepartment = {
            DepDesc: $("#txtName").val()
        };
        formData.append("Department", JSON.stringify(oDepartment));
        $.ajax({
            type: "POST",
            url: "/HOD/SaveFile",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                ResetFields();
                alert(data);
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnRead").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oDepartment = {

        }
        formData.append("Department", JSON.stringify(o));
        $.ajax({
            type: "GET",
            url: "/HOD/GetSavedDepartment",
            success: function (data) {
                $("#txtName").val(data.Dep);
                $('#imgViewer').attr('src', "data:image/jpg;base64," + data.Photo + "");
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    function ResetFields() {
        $("#txtName").val("");
        $("#imgViewer").attr("src", "");
    }
</script>