@model tobedeleted.Models.TimeTable

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>Edit</h1>

<h4>TimeTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TtID" />
            <div class="form-group">
                <label asp-for="ExamDate" class="control-label"></label>
                <input asp-for="ExamDate" class="form-control" />
                <span asp-validation-for="ExamDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exam" class="control-label"></label>
                <input asp-for="Exam" class="form-control" />
                <span asp-validation-for="Exam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepID" class="control-label"></label>
                <input asp-for="DepID" class="form-control" />
                <span asp-validation-for="DepID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeID" class="control-label"></label>
                <input asp-for="GradeID" class="form-control" />
                <span asp-validation-for="GradeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
