@model tobedeleted.Models.MeetingScheduler
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Meeting";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}


<h4>Schedule Meetings</h4>
<hr />
<form method="post" asp-action="Meeting">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="row">
            <div class="form-group col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Desc"></label>@*These names come from our properties in the model *@
                        <input asp-for="Desc" class="form-control" />
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="SetDate"> Today </label>
                        <input asp-for="SetDate" class="form-control" />
                        <span asp-validation-for="SetDate" class="text-danger" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="MeetingDate"> Meeting Date:</label>
                        <input asp-for="MeetingDate" class="form-control" />
                        <span asp-validation-for="MeetingDate" class="text-danger"></span>
                    </div>
                    <div class="col-6" hidden>
                        <label asp-for="userID"> User Id: </label>
                        <input asp-for="userID" class="form-control" value="@UserManager.GetUserAsync(User).Result.firstName @UserManager.GetUserAsync(User).Result.lastName"/>
                        <span asp-validation-for="userID" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Schedule Meeting" class="btn btn-primary" />
                </div>


            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
