@model tobedeleted.Models.Subject

@{
    ViewData["Title"] = "Subject";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>Enrol Subjects</h1>
<br/>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <label>Subject Name: </label>
                </div>
                <div class="col-6">
                    <input id="txtName" type="text" placeholder="Subject Name" style="width:100%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Department Name: </label>
                </div>
                <div  class="dropdown">
                    <select id="txtDep" asp-for="DepID" class="form-control">

                        @foreach (Department D in ViewBag.Department)
                        {
                            <option  value="@D.DepID">@D.DepDesc</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label>Photo :</label>
                </div>
                <div class="col-md-10">
                    <input id="txtFile" type="file" value="Upload File" style="width: 100%;" />
                </div>
            </div>
            <div class="row col-12">
                <div class="col-6">
                    <img id="imgViewer" width="200" height="200" style="border: 1px solid #ffffff" />
                </div>
                <div class="form-group">
                    <button id="btnSave" class="btn btn-primary" style="width:100%;margin-top:100%;"> Save Subject</button>
                    <button id="btnRead" class="btn btn-primary" style="width:100%;margin-top:100%;"> Read Subject</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { });
    $("#txtFile").change(function (event) {
        var files = event.target.files;
        $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
    });
    $("#btnSave").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oSubject = {
            SubDesc: $("#txtName").val(),
            DepID: $("#txtDep").val()
        };
        formData.append("Subject", JSON.stringify(oSubject));
        $.ajax({
            type: "POST",
            url: "/HOD/SaveSubFile",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                ResetFields();
                alert(data);
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnRead").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oSubject = {

        }
        formData.append("Subject", JSON.stringify(o));
        $.ajax({
            type: "GET",
            url: "/HOD/GetSavedSubject",
            success: function (data) {
                $("#txtName").val(data.SubDesc);
                $("txtDep").val(data.DepID);
                $('#imgViewer').attr('src', "data:image/jpg;base64," + data.Photo + "");
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    function ResetFields() {
        $("#txtName").val("");
        $("txtDep").val("");
        $("#imgViewer").attr("src", "");
    }
</script>

