@model tobedeleted.Models.Subject

@{
    ViewData["Title"] = "Subject";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="col-12">
    <div class="row col-12 justify-content-center">
        <h1>Enrol Subjects</h1>
        <br />
    </div>
    <div class="row col-12">
        <div class="col-6">
            <div class="row col-12">
                <div class="col-4">
                    <label>Subject Name: </label>
                </div>
                <div class="col-6">
                    <input id="txtName" type="text" placeholder="Subject Name" style="width:100%;" />
                </div>
            </div>
            <div class="row col-12">
                <div class="col-4">
                    <label>Department Name: </label>
                </div>
                <div class="dropdown col-6">
                    <select id="txtDep" asp-for="DepID" class="form-control">

                        @foreach (Department D in ViewBag.Departments)
                        {
                            <option value="@D.DepID">@D.DepDesc</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-4">
                    <label>Photo :</label>
                </div>
                <div class="col-6">
                    <input id="txtFile" type="file" value="Upload File" style="width: 100%;" />
                </div>
            </div>
            <div class="row col-12">
                <div class="col-6">
                    <img id="imgViewer" width="500" height="350" style="border: 1px solid #ffffff" />
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <button id="btnSave" class="btn btn-primary" style="width:100%;margin-top:2px;">Save Department</button>
                </div>
                <div class="col-6">
                    <button id="btnRead" class="btn btn-primary" style="width:100%;margin-top:2px;">Read Department</button>
                </div>
            </div>
        </div>
        @*<div class="col-6">
            <form method="post" asp-controller="HOD" asp-action="GetSavedSubject">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Subject Name
                            </th>
                            <th>
                                Department Name
                            </th>
                            <th />
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SubDep item in ViewBag.Subject)
                        {
                            <tr>
                                <td>
                                    item.Subject.SubDesc
                                </td>
                                <td>
                                    item.Deptment.DepDesc
                                </td>
                                <td>
                                    --<a asp-action="UpdateDepartment" asp-route-id="item.DepID">Edit</a> |
                                <a asp-action="Details" asp-route-id="item.DepID">Details</a> |
                                <a asp-action="Delete" asp-route-id="item.DepID">Delete</a>*>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>*@
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () { });
    $("#txtFile").change(function (event) {
        var files = event.target.files;
        $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
    });
    $("#btnSave").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oSubject = {
            SubDesc: $("#txtName").val(),
            DepID: $("#txtDep").val()
        };
        formData.append("Subject", JSON.stringify(oSubject));
        $.ajax({
            type: "POST",
            url: "/HOD/SaveSubFile",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                ResetFields();
                alert(data);
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnRead").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oSubject = {
            SubDesc: $("#txtName").val(),
            DepID: $("#txtDep").val(),

        }
        formData.append("Subject", JSON.stringify(oSubject));
        $.ajax({
            type: "GET",
            url: "/HOD/GetSavedSubject",
            success: function (data) {
                $("#txtName").val(data.SubDesc);
                $("txtDep").val(data.DepID);
                $("#imgViewer").attr("src", "data:image/jpg;base64," + data.Photo + "");
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    function ResetFields() {
        $("#txtName").val("");
        $("txtDep").val("");
        $("#imgViewer").attr("src", "");
    }
</script>

