@{
    ViewData["Title"] = "Assessments";
    Layout = "~/Pages/_LayoutTeacher.cshtml";
}

<!DOCTYPE html>

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="text-align:center;">Assessments</h1>
        <hr />
    </div>
</div>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Type here..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

@*<div class="container mt-5">
        <div class="row">
            <div class="col-sm-8">
                <style>
                    table {
                        width: 100%;
                    }

                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 5px;
                        text-align: center;
                    }

                    table.names tr:nth-child(even) {
                        background-color: #eee;
                    }

                    table.names tr:nth-child(odd) {
                        background-color: #fff;
                    }

                    table.names th {
                        background-color: black;
                        color: white
                    }
                </style>

                <strong style="text-align:center;">These are the upcoming classes with learners </strong>
                <br />
                <table class="names">
                    <tr>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Grade 11 class</td>
                        <td>Accounting</td>
                        <td>29/08/2022</td>
                        <td>09:00 am</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Grade 11 class</td>
                        <td>Mathematics</td>
                        <td>31/08/2022</td>
                        <td>11:15 am</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Grade 10 class</td>
                        <td>Mathematics</td>
                        <td>05/09/2022</td>
                        <td>08:00 am</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Grade 10 class</td>
                        <td>Accounting</td>
                        <td>07/09/2022</td>
                        <td>10:00 am</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Grade 11 class</td>
                        <td>Mathematics</td>
                        <td>12/09/2022</td>
                        <td>11:30 am</td>
                        <td>Active</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />*@
<br />
<h4 style="text-align:center;"> You can create,edit and view assessments. </h4>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="200%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">ASSIGNMENT</text></svg>
            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="col">
                        @using (Html.BeginForm(FormMethod.Post))
                           {
                             <input type="submit" class="btn btn-primary" value="Add New" formaction="@Url.Action("Assignment", "Teacher")" />
                           }
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">QUIZZES</text></svg>

            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="col">
                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            <input type="submit" class="btn btn-primary" value="Add New" formaction="@Url.Action("Quizz", "Teacher")" />
                        }
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">PROJECT</text></svg>

            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="col">
                        <input type="submit" class="btn btn-primary" value="Add new project" />
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary">View</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">HOMEWORK</text></svg>

            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <div class="col">
                            <input type="submit" class="btn btn-primary" value="Add new homework" />
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">View</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">NOTES</text></svg>

            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="col">
                        <input type="submit" class="btn btn-primary" value="Add New" />
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


</body>
<div>
    <input id="Button1" type="button" value="Back" />
</div>
