@model tobedeleted.Models.Announcements

@{
    ViewData["Title"] = "EditAnnouncements";
    Layout = "~/Pages/_LayoutTeacher.cshtml";
    ViewData["Title"] = "Real-Time Binding";
}

<h1>EditAnnouncements</h1>

<h4>Announcements</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAnnouncements">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnnounceID" />
            <div class="form-group">
                <label asp-for="AnnouncementName" class="control-label"></label>
                <input asp-for="AnnouncementName" class="form-control" />
                <span asp-validation-for="AnnouncementName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnouncementDescr" class="control-label"></label>
                <input asp-for="AnnouncementDescr" class="form-control" />
                <span asp-validation-for="AnnouncementDescr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnounceDate" class="control-label"></label>
                <input asp-for="AnnounceDate" class="form-control" />
                <span asp-validation-for="AnnounceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewAnnouncements">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
