
@{
    ViewData["Title"] = "DashBoards";
    Layout = "~/Pages/_LayoutTeacher.cshtml";
}


<!DOCTYPE html>
<html>
<body>

    <h3 style="text-align:left;">Add Quizz</h3>

    <form action="/action_page.php">
        <fieldset>
            @*<legend>Personalia:</legend>*@
            <label for="lname">Enter quizz name:</label><br>
            <input type="text" id="type" name="type" value="" placeholder="eg. Chapter 2 unit 1"><br><br>
            <div>
                <h4 style="text-align:left;">Instructions </h4>
                <textarea name="message" rows="10" cols="100"> </textarea>
            </div>


        </fieldset>
    </form>
    <br />
    <h4>Questions</h4>
    <div class="container p-5 my-5 border">
        <div class="container mt-3">
            <div class="card bg-light text-dark">
                <form action="/action_page.php">
                    <label for="lname">Question 3: (Type your question and answer options below and click the correct answer)</label><br>
                    <input type="text" id="type" name="type" value="" placeholder="type question herre.." col="100"><br><br>
                    <label for="lname">(Type your answer options below and click the correct answer)</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100">
                    </div>
                </form>

            </div>
            <br>
            <div class="card bg-light text-dark">
                <form action="/action_page.php">
                    <label for="lname">Question 2: (Type your question and answer options below and click the correct answer)</label><br>
                    <input type="text" id="type" name="type" value="" placeholder="type question herre.." col="100"><br><br>
                    <label for="lname">(Type your answer options below and click the correct answer)</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <input type="text" id="type" name="type" value="" placeholder="" col="100">
                    </div>
                </form>
            </div>
            <br>
            <form action="/action_page.php">
                <p for="lname">Choose below due date and time for the quizz </p>
                <label for="Duedate">Due date (date and time):</label>
                <input type="datetime-local" id="Duedate" name="Duedate">

            </form>
        </div>
      
    </div>


            <div>
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <input type="submit" class="btn btn-primary">
                    <input type="submit" class="btn btn-primary" value="Back" formaction="@Url.Action("Assessments", "Teacher")" />}
            </div>


</body>
</html>




