
@{
    ViewData["Title"] = "DashBoards";
    Layout = "~/Pages/_LayoutTeacher.cshtml";
}


<!DOCTYPE html>
<html>
<body>

    <h3 style="text-align:left;">Add Quizz</h3>

    <form action="/action_page.php">
        <fieldset>
            @*<legend>Personalia:</legend>*@
            <label for="lname">Enter quizz name:</label><br>
            <input type="text" id="type" name="type" value="" placeholder="eg. Chapter 2 unit 1"><br><br>
            <div>
                <h4 style="text-align:left;">Instructions </h4>
                <textarea name="message" rows="10" cols="100"> Write instructions of the quizz here.</textarea>
            </div>


        </fieldset>
    </form>
    <br />
    <form action="/action_page.php">
        <label for="lname">Question:</label><br>
        <input type="text" id="type" name="type" value="" placeholder="What is mass" col="100"><br><br>

    </form>

    <div>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <input type="submit" class="btn btn-primary">
            <input type="submit" class="btn btn-primary" value="Back" formaction="@Url.Action("Assessments", "Teacher")" />}
    </div>


</body>
</html>




