@{

    Layout = "~/Pages/_LayoutTeacher.cshtml";
}

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="text-align:center;">Reports</h1>
        <hr />
    </div>
</div>

<div class="container p-5 my-5 border">
    <div class="container mt-3">
        <div class="card bg-light text-dark">
            <div class="card-body">1 learner enrolled.</div>
        </div>
        <div class="card bg-light text-dark">
            <div class="card-body">.</div>
        </div>
        <br>
    </div>

</div>
