
@{
    ViewData["Title"] = "DashBoards";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}



<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inn_TuneProject</title>

    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <h2>DashBoard</h2>
    <br />
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">Available Subjects:</li>
    </ul>
    <br />

    @*<div class="alert alert-success">
            <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
        </div>*@

    <div class="card" style="width:300px">

        <h4 class="card-title">Mathematics</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/maths.jpg" alt="Card image">
    </div>

    <div class="card" style="width:300px">

        <h4 class="card-title">Physical Sciences</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/physical.png" alt="Card image">
    </div>

    <div class="card" style="width:300px">

        <h4 class="card-title">Accounting</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/Accounting.jpg" alt="Card image">
    </div>

    <div class="card" style="width:300px">

        <h4 class="card-title">Geography</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/Geographyy.jpg" alt="Card image">
    </div>

    <div class="card" style="width:300px">

        <h4 class="card-title">Life Sciences</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/Life-Science.jpg" alt="Card image">
    </div>

    <div class="card" style="width:300px">

        <h4 class="card-title">Agricultural Sciences</h4>
        <p class="card-text">learn more</p>
        <a href="#" class="btn btn-primary">View Subject</a>

        <img class="card-img-top" src="~/css/Images/Agriculcure.jpg" alt="Card image">
    </div>

    <style type="text/css">

        .card {
            align-items: center;
            border: 5px unset #000000;
            float: left;
            box-shadow: 0 0 15px #808080;
            flex-direction: row;
            /* padding: 10px 20px;*/
            flex-flow: wrap;
            align-self: normal;
            display: flex;
            height: 250px;
            width: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
           
        }

        .card-img-top {
            max-width: 200px;
            max-height: 200px;
        }
    </style>







</body>
<body2>


    
</body2>
