@model AssignSubject

@{
    ViewData["Title"] = "Enroll Learner";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}



<h4>Enroll on a new subject</h4>
<hr />

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form asp-action="EnrollInSubject" method="post" >
                <div class="form-group">
                    <label>Select Subject</label>
                    <select asp-for="SubDesc"   asp-items="@(new SelectList(ViewBag.listofSubjects,"SubID","SubDesc"))" class="form-control">
                        <option selected disabled>--selected Subject--</option>
                    </select>

                </div>
                <div class="form-group">

                    @*<label>Enter Subject Code</label>
                    <input asp-for="SubCode" asp-items="@ViewBag.Users" class="form-control" />*@
                </div>
                <div>
                    <input type="submit" class="btn btn-outline-primary btn-block" value="Enroll" />
                    <a asp-action="DashBoards" class="btn btn-outline-danger btn-block">Cancel</a>
                </div>
            </form>

        </div>

    </div>

</div>



