@{
    ViewData["Title"] = "Maths";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}

<h1>Welcome To Mathematics</h1>
<br />
<style type="text/css">
    h1{
        align-items:center;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - learner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h4>#Mathematics</h4>
    <p>This subject will upload content every 3 to 4 days make sure you do and submit your work.</p>
    <p>Thank you</p>
    <br />
   
    <div class="container mt-3">
        <h2>Teacher for this subject</h2>
      
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aviwe</td>
                    <td>Nzena</td>
                    <td>AviweNzena@gmail.com</td>
                </tr>

            </tbody>
        </table>
    </div>

    <br />
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="border-dark">Solve for X</div>
                click to see Content
            </div>
            <span class="badge bg-dark rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Linear Equations</div>
                click to see Content
            </div>
            <span class="badge bg-dark rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Circles</div>
                click to see Content
            </div>
            <span class="badge bg-dark rounded-pill">14</span>
        </li>
    </ol>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Geometry</div><a href="#">click to see Content</a>
            </div>
                
            <span class="badge bg-dark rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Deriving</div><a href="#">click to see Content</a>
                
            </div>
            <span class="badge bg-dark rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"></div><a href="#">click to see Content</a>
               
            </div>
            <span class="badge bg-dark rounded-pill">14</span>
        </li>
    </ol>
</body>
