@{
    ViewData["Title"] = "QuestionPA";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}

<h1>Download Question Papers follow the link below</h1>
<br />
<style type="text/css">
    h1 {
        align-items: center;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - learner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>