@{
    ViewData["Title"] = "QuestionPA";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}

<br />
<h1>Download Question Papers 
    follow the link below</h1>
<br />
<style type="text/css">
    h1 {
        align-items: center;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - learner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<hr />
<h4>Below is are links to help your Feather Knowledge</h4>
<hr />
<hr />
<div class="col-md-4">
    <form>
        <div class="container-fluid align-content-lg-start">
            <img src="~/css/Images/number1.jpg"
                 alt="null" data-class-id="content-631b2f9e1d8335-47888018" class="ult-modal-img overlay-show ult-align-center text-lg-left ult-modal-image-"
                 data-overlay-class="overlay-zoomin" style="width: 100px; height: 100px;">
            <div>
                <p>To download Grade 12 Question Papers Click<a href="https://www.education.gov.za/">Here</a></p>
            </div>
            <div>
                <p>To download Grade 11 Question Papers Click<a href="https://www.education.gov.za/">Here</a></p>
            </div>
            <div>
                <p>To download Grade 10 Question Papers  Click<a href="https://www.education.gov.za/">Here</a></p>
            </div>

        </div>
        <div class="container img-fluid align-content-end">

        </div>

    </form>

</div>