
@{
    ViewData["Title"] = "QuestionPA";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}
<div class="card">
    <div class="text-center">
        <h1 class="display-7">Report</h1>
        <hr />
    </div>

    <h3>Personal Details</h3>
    <p style="color:black">
        <b>Full Name:</b>  Vuyo Maphosa <br />
        <b>Address:</b> 81 Machel Street,
        Motherwell,
        Port Elizabeth,
        6211 <br />
        <b>Contact No: </b> 074 246 2754 <br />
        <b>Email: </b>vuyoelvismaphosa@gmail.com<br />
        <b>User: </b> Parent<br />
        <b>Gender: </b> Male <br />

    </p>
    <hr />
    <h3><b>Student Information</b></h3>

    <p style="color:black">
        <b>Full Name:</b>  Elvis Maphosa <br />
        <b>Address:</b> 81 Machel Street,
        Motherwell,
        Port Elizabeth,
        6211 <br />
        <b>Contact No: </b> 074 695 5085 <br />
        <b>Email: </b>elvisMaphosa@gmail.com<br />
        <b>User: </b> Student<br />
        <b>Gender: </b> Male <br />
        <b>Grade:</b> 12
        <br />

        <h3><b>System</b></h3>
    <p>There are currently no scheduled meetings </p>
    <br />
</div>

    @*@model Student

        @{
            ViewData["Title"] = "QuestionPA";
            Layout = "~/Pages/_LayoutLearner.cshtml";
        }
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>@ViewData["Title"] - Inn_TuneProject</title>

            <link rel="stylesheet" href="~/css/site.css" type="text/css" />
        </head>
        <body>
            <form>

                <div class="card" id="DivToPrint" runat="server">
                    <h1>Report </h1>
                    <hr />
                    <p></p>
                    <br />

                    <h1>Teacher Infomation</h1>

                    <br />
                    <p>  Name       :Aviwe</p>

                    <p>  surname    :Nzena</p>

                    <p>  Email      : AviweNzena@gmail.com</p>

                    <p>  Phone     : 0616773493</p>
                    <p>  Gender    : Male</p>
                    <p>  Subject   : MAths & Physics</p>
                    <p>  Number of learners  : 9</p>
                    <p>  Grade     : 11 & 12</p>

                    <\t></\t>
                    <br />
                    <br />
                    <h1></h1>

                    <style type="text/css">

                        h1 {
                            align-content: flex-end;
                            text-align: center;
                        }

                        p {
                            text-align: center
                        }
                    </style>
                </div>
                    <br />
                    <br />
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Sixolile@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button>Submit</button>
                        <br />
                        <button>Print</button>
                    </div>


            </form>
            <nav class="navbar navbar-light" style="background-color:black;">

                <form class="d-flex">

                    <button class="btn btn-outline-primary" type="submit">BACK</button>

                </form>

            </nav>

        </body>*@
