
@{
    ViewData["Title"] = "Results";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}

<!DOCTYPE html>
<br />
<br />
<h4>Subject results</h4>
<hr />
<br />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inn_TuneProject</title>

    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>

    <div id="accordion">

        <div class="card">
            <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    Mathematics
                </a>
            </div>
            <div id="collapseOne" class="collapse " data-bs-parent="#accordion">
                <div class="card-body">
                    <a>TM1:  52</a>
                    <a>TM2:  59</a>
                    <a>TM3:  50</a>
                    <a>TM4:  80</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    life Sciences
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <a>TM1:  78 </a>
                    <a>TM2:  45</a>
                    <a>TM3:  11</a>
                    <a>TM4:  55</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                    Physical sciences
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <a>TM1:  84</a>
                    <a>TM2:  59</a>
                    <a>TM3:  11</a>
                    <a>TM4:  88</a>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                    Geography
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <a>TM1:  54</a>
                    <a>TM2:  78</a>
                    <a>TM3:  89</a>
                    <a>TM4:  16</a>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                    Agricultural Sciences
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <a>TM1:  15</a>
                    <a>TM2:  88</a>
                    <a>TM3:  98</a>
                    <a>TM4:  23</a>
                </div>
            </div>
        </div>
    </div>
</body>
