@model tobedeleted.Models.Marks

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_LayoutTeacher.cshtml";
}

<h1>Create</h1>

<h4>Marks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="learnerId" class="control-label"></label>
                <input asp-for="learnerId" class="form-control" />
                <span asp-validation-for="learnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentID" class="control-label"></label>
                <input asp-for="AssignmentID" class="form-control" />
                <span asp-validation-for="AssignmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubID" class="control-label"></label>
                <input asp-for="SubID" class="form-control" />
                <span asp-validation-for="SubID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term1" class="control-label"></label>
                <input asp-for="Term1" class="form-control" />
                <span asp-validation-for="Term1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term2" class="control-label"></label>
                <input asp-for="Term2" class="form-control" />
                <span asp-validation-for="Term2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term3" class="control-label"></label>
                <input asp-for="Term3" class="form-control" />
                <span asp-validation-for="Term3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term4" class="control-label"></label>
                <input asp-for="Term4" class="form-control" />
                <span asp-validation-for="Term4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
