<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tobedeleted</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />

</head>
<body>
    <div contenteditable="false" class="p-3 mb-2 bg-white text-black-50">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">

                <div class="container">
                    <img src="~/css/Images/lol.png" width="120" height="60" class="align-content-md-start" />
                    <a class="navbar-brand" asp-area="" asp-controller="Teacher" asp-action="TDash">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="TDash">Dashboard</a>
        </li>*@
                            <li class="nav-item dropdown show">
                                <a class="btn dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Content</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                                    <a class="dropdown-item">Users to Categories</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="MediaType" asp-action="Index">Media Types</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">Assessments</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Meetings">Meetings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Reports">Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="ViewAnnouncements">Announcements</a>
                            </li>

                        </ul>

                    </div>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
                
                <partial name="_LoginPartial" />
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - tobedeleted - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
