
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}


<div class="bg-#ECC position-relative">
    <div class="card-body">
        <div class="met-profile">
            <div class="row">
                <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                    <div class="met-profile-main">
                        <div class="met-profile-main-pic">
                            <img src="~/css/Images/Logo.jpg" alt="" height="110" class="rounded-circle">
                            <span class="met-profile_main-pic-change">
                                <i class="fas fa-camera"></i>
                            </span>
                        </div>
                        <div class="met-profile_user-detail">
                            <h5 class="met-user-name">Vuyo Maphosa</h5>
                            <p class="mb-0 met-user-name-post">Parent</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 ms-auto align-self-center">
                    <ul class="list-unstyled personal-detail mb-0">
                        <li class=""><i class="las la-phone mr-2 text-secondary font-22 align-middle"></i> <b> phone </b> : +27 74 246 2754</li>
                        <li class="mt-2"><i class="las la-envelope text-secondary font-22 align-middle mr-2"></i> <b> Email </b> : vuyoelvisamaphosa@gmail.com</li>
                        <li class="mt-2">
                            <i class="las la-globe text-secondary font-22 align-middle mr-2"></i>
                        </li>
                    </ul>

                </div><!--end col-->
                <div class="col-lg-4 align-self-center">
                    <div class="row">
                        <div class="col-auto text-end border-end">
                            <button type="button" class="btn btn-soft-primary btn-icon-circle btn-icon-circle-sm mb-2">
                                <i class="fab fa-facebook-f"></i>
                            </button>


                        </div><!--end col-->
                        <div class="col-auto">
                            <button type="button" class="btn btn-soft-info btn-icon-circle btn-icon-circle-sm mb-2">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end f_profile-->
    </div>
