<configuration>

<system.web.webPages.razor>

<pages pageBaseType="System.Web.Mvc.WebViewPage">
<namespaces>
	
<add namespace="Syncfusion.EJ2"/>
</namespaces>
</pages>
</system.web.webPages.razor>

<system.web>
<compilation>
<assemblies>

<add assembly="Syncfusion.EJ2, Culture=neutral" />
</assemblies>
</compilation>
</system.web>
</configuration>