@model List<string>
@{
    ViewData["Title"] = "Details";

}
<h3 class="text-center">User: <b>@ViewBag.UserName</b></h3>

@await Html.PartialAsync("_TopMenuPartial")

<div class="container">

    <div class=" row">
        <div class="col-12">
            @if (Model.Count == 0)
            {
                <p>no Roles Found!</p>
            }
            else
            {
                <h3 class="text-center">Roles</h3>
                <table class="table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>UserName</th>
                            <th>Action</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        @foreach (var r in Model)
                        {
                            <tr>
                                <td>@r</td>
                                <td>
                                    <a class="btn btn-success"
                                       asp-route-userName="@ViewBag.UserName"
                                       asp-action="RemoveUserRole" 
                                       onclick="return confirm('Are you sure')">
                                    
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>

    </div>

</div>