@{
    ViewData["Title"] = "About The System";
}
<h1>@ViewData["Title"]</h1>

<div class="row pt-md">


    <div class="col-md-4 float-lg-left">
        <form>
            <img src="~/css/Images/guy-working-at-computer-vector-18227823.jpg"
                 alt="null" data-class-id="content-631b2f9e1d8335-47888018" class="ult-modal-img overlay-show ult-align-center text-lg-left ult-modal-image-"
                 data-overlay-class="overlay-zoomin" style="width: 250px; height: 250px;">

        </form>
    </div>
    <div class="col-lg-3 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
        <h6 class="heading mb-3">Work with us</h6>
        <ul class="list-unstyled">
            <li><a>Become a tutor</a></li>
            <li><a>become a student</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-sm-4 mb-5 mb-lg-0">
        <h6 class="heading mb-3">Get to know us</h6>
        <ul class="list-unstyled">
            <li><a>Contact us</a></li>
            <li><a>About us</a></li>
            <li><a>Past Exam Papers</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-sm-4 mb-5 mb-lg-0">
        <h6 class="heading mb-3">Learn with us</h6>
        <ul class="list-unstyled text-small">
            <li><a>Online Tutoring</a></li>
            <li><a>Areas We Cover</a></li>
            <li><a>Subjects We Offer</a></li>
        </ul>
    </div>

</div>

