@{
    ViewData["Title"] = "Contact Information";
}
<h1>@ViewData["Title"]</h1>


<body>
    <div>
        <div class="col-md-4">
            <form>
                <img src="~/css/Images/contact-2.jpg"
                     alt="null" data-class-id="content-631b2f9e1d8335-47888018" class="ult-modal-img overlay-show ult-align-center text-lg-left ult-modal-image-"
                     data-overlay-class="overlay-zoomin" style="width: 416px; height: 459.333px;">

            </form>

        </div>
    </div>

        <div class="col-lg-3 col-sm-4 mb-5 mb-lg-0">
            <h6 class="heading mb-3">Contact</h6>
            <ul class="list-unstyled my-3">
                <li><b>Phone:</b> <a href="tel:+27683132755"> (073) 993 6348</a></li>
                <li><b>Email:</b> <a href="mailto:AviweNzena.co.za" target="_top">AviweNzena@gmail.com</a></li>
                <li><b>Hours:</b> Mon-Fri, 8am-6pm</li>
            </ul>
        </div>
        <div>
            <div class="col-lg-3 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">Contact-us at</h6>
                <ul class="list-unstyled my-3">
                    <li><b>Phone:</b> <a href="tel:+27683132755"> (073) 993 6348</a></li>
                    <li><b>Email:</b> <a href="mailto:INNOVA-TECHS.co.za" target="_top">INNOVA@gmail.com</a></li>
                    <li><b>Hours:</b> Mon-Fri, 8am-6pm</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">School Contacts</h6>
                <ul class="list-unstyled my-3">
                    <li><b>Phone:</b> <a href="tel:+27683132755"> (073) 993 6348</a></li>
                    <li><b>Email:</b> <a href="mailto:AviweNzena.co.za" target="_top">School@gmail.com</a></li>
                    <li><b>Hours:</b> Mon-Fri, 8am-6pm</li>
                </ul>
            </div>
        </div>
   
</body>