@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <h1 class="display-4 border-light">Welcome </h1>
        <h2 class="display-4 ">To The INN-TUNE system</h2>
    </div>
    <asp:FileUpload ID="FileUpload1" runat="server" />
    <div>
        <img src="https://onlinetutoringsystem.com/wp-content/uploads/2019/11/online-tutoring-system-01.png" alt="" data-ww="['480px','480px','420px','320px']"
             data-hh="['530px','530px','464','353px']" width="550" height="607"
             data-lazyload="https://onlinetutoringsystem.com/wp-content/uploads/2019/11/online-tutoring-system-01.png" data-no-retina=""
             style="width: 416px; height: 459.333px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px;
              margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px;">
    </div>


</div>
<hr />
<hr />

<div>

    <div class="text-center">

        <h3 class="display-4 border-light">Register With Us </h3>
        <h1 class="display-4 border-dark">Stay INN Tune As we Change The World </h1>


    </div>
</div>

<hr />
<hr />
<div class=" container">
    <div>
        <div class="col-md-4">
            <form>
                <img src="~/css/Images/Black-Man-_-Black-Woman-Using-Laptop-E-scaled.jpg"
                     alt="null" data-class-id="content-631b2f9e1d8335-47888018" class="ult-modal-img overlay-show ult-align-center text-lg-left ult-modal-image-"
                     data-overlay-class="overlay-zoomin" style="width: 416px; height: 459.333px;">

            </form>
        </div>
        <div>
            <section>
                <h5 class="text-lg-right  sticky-top ">After Registering You Will Be able to learn with us </h5>
                <h5 class="text-lg-right  align-text-top">Inn-Tune system will help you achieve academic excelence</h5>
                <h5 class="text-lg-right  align-text-top">Ifrom one of your favourite Teachers</h5>
            </section>
        </div>
    </div>


</div>
