
@model tobedeleted.Models.MeetingScheduler
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserM
@{
    ViewData["Title"] = "Meeting";
    Layout = "~/Pages/_LayoutParent.cshtml";
    ViewData["Title"] = "Real-Time Binding";

}
<div class="text-center">
    <h1 class="display-7">Meeting</h1>
    <hr />
</div>

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row text-center">

        </div>
        <div class="row">
            <div class="form-group col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Desc"></label>@*These names come from our properties in the model *@
                        <input asp-for="Desc" class="form-control" />
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="SetDate"> Today </label>
                        <input asp-for="SetDate" class="form-control" />
                        <span asp-validation-for="SetDate" class="text-danger" />
                    </div>
                    <div class="col-6">
                        <label asp-for="MeetingDate"> Meeting Date:</label>
                        <input asp-for="MeetingDate" class="form-control" />
                        <span asp-validation-for="MeetingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Select Username</label>
                        <select asp-for="userID" class="form-control">
                            <option selected disabled>--select user--</option>
                            @foreach (ApplicationUser U in ViewBag.Userss)
                            {
                                <option asp-for="userTeacher" value="@U.Id">@U.firstName , @U.lastName</option>
                            }
                        </select>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-auto" value="Schedule meeting" />
                        </div>
                        <div class="col">
                            <a asp-action="Meeting" class="btn btn-danger w-auto">Back</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>
<br />
<br />
<br />
