
@{
    ViewData["Title"] = "Meeting";
    Layout = "~/Pages/_LayoutParent.cshtml";
    ViewData["Title"] = "Real-Time Binding";


}
<div class="text-center">
    <h1 class="display-7">Meeting</h1>
    <hr />
</div>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="card-body content mt-3 align-content-end">

    <div id="calendar-month-2022-8-62fa482f492f362fa482f2a8aa3" data-template="core_calendar/month_mini" data-includenavigation="true" data-mini="true">
        <div id="month-mini-2022-8-1" class="calendarwrapper" data-courseid="5567" data-categoryid="24" data-month="8" data-year="2022" data-day="15" data-view="month">
            <td>
                <div style="text-align:right;margin-right:0px;">

                </div>
            </td>

            <table class="minicalendar calendartable">
                <caption class="calendar-controls">
                    <a href="#" class="arrow_link previous" title="Previous month" data-year="2022" data-month="7">
                        <span class="arrow">◄</span>
                    </a>
                    <span class="hide"> | </span>
                    <span class="current">
                        <a href="https://learn.mandela.ac.za/calendar/view.php?view=month&amp;time=1660514400&amp;course=5567" title="This month">August 2022</a>
                    </span>
                    <span class="hide"> | </span>
                    <a href="#" class="arrow_link next" title="Next month" data-year="2022" data-month="9">
                        <span class="arrow">►</span>
                    </a>
                </caption>

                <thead>
                    <tr>
                        <th class="header text-xs-center">
                            <span class="sr-only">Monday</span>
                            <span aria-hidden="true">Mon</span>
                        </th>
                        <th class="header text-xs-center">
                            <span class="sr-only">Tuesday</span>
                            <span aria-hidden="true">Tue</span>
                        </th>
                        <th class="header text-xs-center">
                            <span class="sr-only">Wednesday</span>
                            <span aria-hidden="true">Wed</span>
                        </th>
                        <th class="header text-xs-center">
                            <span class="sr-only">Thursday</span>
                            <span aria-hidden="true">Thu</span>
                        </th>
                        <th class="header text-xs-center">
                            <span class="sr-only">Friday</span>
                            <span aria-hidden="true">Fri</span>
                        </th>
                        <th class="header text-xs-center">
                            <span class="sr-only">Saturday</span>
                            <span aria-hidden="true">Sat</span>
                        </th>
                        <th class="header text-xs-center">
                            <span class="sr-only">Sunday</span>
                            <span aria-hidden="true">Sun</span>
                        </th>
                    </tr>
                </thead>
                <di
                 <tbody>
                     <tr data-region="month-view-week">
                         <td class="day text-center" data-day-timestamp="1659304800">
                             <span class="sr-only">No events, Monday, 1 August</span>
                             <span aria-hidden="true">1</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1659391200">
                             <span class="sr-only">No events, Tuesday, 2 August</span>
                             <span aria-hidden="true">2</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1659477600">
                             <span class="sr-only">No events, Wednesday, 3 August</span>
                             <span aria-hidden="true">3</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1659564000">
                             <span class="sr-only">No events, Thursday, 4 August</span>
                             <span aria-hidden="true">4</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1659650400">
                             <span class="sr-only">No events, Friday, 5 August</span>
                             <span aria-hidden="true">5</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1659736800">
                             <span class="sr-only">No events, Saturday, 6 August</span>
                             <span aria-hidden="true">6</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1659823200">
                             <span class="sr-only">No events, Sunday, 7 August</span>
                             <span aria-hidden="true">7</span>
                         </td>
                     </tr>
                     <tr data-region="month-view-week">
                         <td class="day text-center" data-day-timestamp="1659909600">
                             <span class="sr-only">No events, Monday, 8 August</span>
                             <span aria-hidden="true">8</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1659996000">
                             <span class="sr-only">No events, Tuesday, 9 August</span>
                             <span aria-hidden="true">9</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1660082400">
                             <span class="sr-only">No events, Wednesday, 10 August</span>
                             <span aria-hidden="true">10</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1660168800">
                             <span class="sr-only">No events, Thursday, 11 August</span>
                             <span aria-hidden="true">11</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1660255200">
                             <span class="sr-only">No events, Friday, 12 August</span>
                             <span aria-hidden="true">12</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1660341600">
                             <span class="sr-only">No events, Saturday, 13 August</span>
                             <span aria-hidden="true">13</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1660428000">
                             <span class="sr-only">No events, Sunday, 14 August</span>
                             <span aria-hidden="true">14</span>
                         </td>
                     </tr>
                     <tr data-region="month-view-week">
                         <td class="day text-center today hasevent calendar_event_course duration_finish" data-eventtype-course="1" data-day-timestamp="1660514400">
                             <span class="sr-only">1 event, Monday, 15 August</span>


                             <a id="calendar-day-popover-link-5567-2022-226-1" data-container="body" data-toggle="popover" data-html="true" data-region="mini-day-link" data-trigger="hover focus" data-placement="top" data-year="2022" data-month="8" data-courseid="5567" data-categoryid="24" data-title="Today Monday, 15 August" data-alternate="No events" aria-label="Today Monday, 15 August" data-original-title="" title="">15</a>

                         </td>
                         <td class="day text-center" data-day-timestamp="1660600800">
                             <span class="sr-only">No events, Tuesday, 16 August</span>
                             <span aria-hidden="true">16</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1660687200">
                             <span class="sr-only">No events, Wednesday, 17 August</span>
                             <span aria-hidden="true">17</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1660773600">
                             <span class="sr-only">No events, Thursday, 18 August</span>
                             <span aria-hidden="true">18</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1660860000">
                             <span class="sr-only">No events, Friday, 19 August</span>
                             <span aria-hidden="true">19</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1660946400">
                             <span class="sr-only">No events, Saturday, 20 August</span>
                             <span aria-hidden="true">20</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1661032800">
                             <span class="sr-only">No events, Sunday, 21 August</span>
                             <span aria-hidden="true">21</span>
                         </td>
                     </tr>
                     <tr data-region="month-view-week">
                         <td class="day text-center" data-day-timestamp="1661119200">
                             <span class="sr-only">No events, Monday, 22 August</span>
                             <span aria-hidden="true">22</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1661205600">
                             <span class="sr-only">No events, Tuesday, 23 August</span>
                             <span aria-hidden="true">23</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1661292000">
                             <span class="sr-only">No events, Wednesday, 24 August</span>
                             <span aria-hidden="true">24</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1661378400">
                             <span class="sr-only">No events, Thursday, 25 August</span>
                             <span aria-hidden="true">25</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1661464800">
                             <span class="sr-only">No events, Friday, 26 August</span>
                             <span aria-hidden="true">26</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1661551200">
                             <span class="sr-only">No events, Saturday, 27 August</span>
                             <span aria-hidden="true">27</span>
                         </td>
                         <td class="day text-center weekend" data-day-timestamp="1661637600">
                             <span class="sr-only">No events, Sunday, 28 August</span>
                             <span aria-hidden="true">28</span>
                         </td>
                     </tr>
                     <tr data-region="month-view-week">
                         <td class="day text-center" data-day-timestamp="1661724000">
                             <span class="sr-only">No events, Monday, 29 August</span>
                             <span aria-hidden="true">29</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1661810400">
                             <span class="sr-only">No events, Tuesday, 30 August</span>
                             <span aria-hidden="true">30</span>
                         </td>
                         <td class="day text-center" data-day-timestamp="1661896800">
                             <span class="sr-only">No events, Wednesday, 31 August</span>
                             <span aria-hidden="true">31</span>
                         </td>
                     </tr>

                 </tbody>

            </table>
        </div>
    </div>

    <div class="footer"></div>

</div>




<div style="margin-left: 920px">
    <asp:Calendar runat="server"></asp:Calendar>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <p style="text-align:center;">You are viewing upcoming meetings</p>
            <hr>
            <style>
                table {
                    width: 100%;
                }

                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 5px;
                    text-align: center;
                }

                table.names tr:nth-child(even) {
                    background-color: #eee;
                }

                table.names tr:nth-child(odd) {
                    background-color: #fff;
                }

                table.names th {
                    background-color: black;
                    color: white
                }
            </style>





            <table class="names">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Rorisang</td>
                    <td>Head of Department</td>
                    <td>31/09/2022</td>
                    <td>09:00 am</td>
                </tr>
                <tr>
                    <td>Nikita Maqambayi</td>
                    <td>Subject Coordinator</td>
                    <td>01/09/2022</td>
                    <td>12:30 pm</td>
                </tr>
            </table>

            <br>
            <input id="Button1" type="button" value="Schedule a meeting" />
        </div>
    </div>
</div>