
@{
    ViewData["Title"] = "Meeting";
    Layout = "~/Pages/_LayoutParent.cshtml";
    ViewData["Title"] = "Real-Time Binding";
    @model tobedeleted.Models.MeetingScheduler

}
<div class="text-center">
    <h1 class="display-7">Meeting</h1>
    <hr />
</div>

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row text-center">

        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Desc"></label>@*These names come from our properties in the model *@
                        <input asp-for="Desc" class="form-control" />
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Date"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>


                </div>


                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-auto" value="Schedule meeting" />
                        </div>
                        <div class="col">
                            <a asp-action="Meeting" class="btn btn-danger w-auto">Back</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>
<br />
<br />
<br />
