
@{
    ViewData["Title"] = "Report";
    Layout = "~/Pages/_LayoutParent.cshtml";
}

<div class="text-center">
    <h1 class="display-7">Report</h1>
    <hr />
</div>

<h3>Personal Details</h3>
<p style="color:black">
    <b>Full Name:</b>  Vuyo Maphosa <br />
    <b>Address:</b> 81 Machel Street,
    Motherwell,
    Port Elizabeth,
    6211 <br />
    <b>Contact No: </b> 074 246 2754 <br />
    <b>Email: </b>vuyoelvismaphosa@gmail.com<br />
    <b>User: </b> Parent<br />
    <b>Gender: </b> Male <br />

</p>
<hr />
<h3><b>Student Information</b></h3>

<p style="color:black">
    <b>Full Name:</b>  Elvis Maphosa <br />
    <b>Address:</b> 81 Machel Street,
    Motherwell,
    Port Elizabeth,
    6211 <br />
    <b>Contact No: </b> 074 695 5085 <br />
    <b>Email: </b>elvisMaphosa@gmail.com<br />
    <b>User: </b> Student<br />
    <b>Gender: </b> Male <br />
    <b>Grade:</b> 12
    <br />

    <h3><b>System</b></h3>
<p>There are currently no scheduled meetings </p><br />
