@model tobedeleted.Models.MeetingScheduler

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>Edit</h1>

<h4>MeetingScheduler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeetingID" />
            <div class="form-group">
                <label asp-for="SetDate" class="control-label"></label>
                <input asp-for="SetDate" class="form-control" />
                <span asp-validation-for="SetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userID" class="control-label"></label>
                <input asp-for="userID" class="form-control" />
                <span asp-validation-for="userID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
