<div class="row" style="margin-bottom:10px">
    <div class="col-6 offset-4">
        <a  asp-area=""  asp-controller="Administration" asp-action="AddUserToRole" class="btn btn-primary mr-2">New Role</a>
        <a  asp-area=""  asp-controller="Administration" asp-action="DisplayRoles" class="btn btn-primary mr-2">View Role</a>
        <a  asp-area=""  asp-controller="Administration" asp-action="Details" class="btn btn-primary mr-2">Assign user to Role</a>
        <a  asp-area=""  asp-controller="Administration" asp-action="Index" class="btn btn-primary mr-2">Go back</a>

    </div>

</div>
